div.mealDiv {
    width: 600px;
}

span.editTag,span.addIngredient {
    font-size: 11px;
    color: darkblue;
    cursor: pointer;
}

span.editTag {
    margin-left: 10px;
}

#bodyContent {
    padding: 0px 20px;
}
