li {
    cursor: pointer;
    list-style: none;
}

#bodyContent {
    padding: 0px 20px;
}

.dayCell {
    width: 20%;
}

.lunchCell,.dinnerCell {
    width: 40%;
}

#weeklyPlanner {
    width: 75%;
}

#meals {
    float: right;
    width: 23%
}

#tblWeeklyPlanner tr:nth-child(odd)>td.tableColumnSelected,
#tblWeeklyPlanner tr:nth-child(odd)>th.tableColumnSelected {
    background-color: #227722;
}

#tblWeeklyPlanner td.tableColumnSelected {
    background-color: #449944;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #007700;
}

#tblWeeklyPlanner tr:last-child td.tableColumnSelected {
    border-bottom-style: solid;
}

#tblWeeklyPlanner th.tableColumnSelected {
    border-top: 3px solid;
    border-bottom: none;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #007700;
}

