li {
    cursor: pointer;
}

#bodyContent {
    padding: 0px 20px;
}

.dayCell {
    width: 20%;
}

.lunchCell,.dinnerCell {
    width: 40%;
}

#weeklyPlanner {
    width: 75%;
}

#meals {
    float:right;
    width:23%
}