body {
    font-family: sans-serif;
}

div.section {
    width: 35%;
    margin: 5%;
    padding: 15px;
    float:left;
    text-align: center;
    border-radius: 15px;
}

div.left {
    color: #007700;
    background: #99FF99;
    border: 2px solid #449944;
}

div.right {
    background: #9999FF;
    color: #000077;
    border: 2px solid #444499;
}
